.container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.industryCard {
    background-color: var(--surface);
    border-radius: 10px;
    width: 300px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
}

.stockInfoWrapper {
    display: flex;
    justify-content: space-between;
}
