.page {
    width: 100%;
    padding: 5vh clamp(5vw, 8vw, 100px);
    justify-items: center;
    display: grid;
    gap: 4rem;
}

.title {
    font-size: 1.5em;
    text-align: center;
    color: #242424;
}

.Stockie {
    font-family: 'Notable', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section {
    /*--visibility: 0; !* Default visibility *!*/
    /*opacity: var(--visibility); !* Opacity based on visibility *!*/
    /*transform: translateY(calc((1 - var(--visibility)) * 30px)); !* Moves up/down *!*/
    /*transition:*/
    /*    opacity 0.3s linear,*/
    /*    transform 0.3s linear; !* Smooth animation *!*/
    width: 100%;
}
