.page {
    width: 100%;
    padding: 2vh clamp(5vw, 8vw, 60px);
    /*padding-top: 2vh;*/
    /*padding-left: clamp(1rem, 5vw, 60px);   !* safer than 100px *!*/
    /*padding-right: clamp(1rem, 5vw, 60px);*/
    justify-items: center;
    overflow-x: scroll;
}

.title {
    font-size: 1.5em;
    text-align: center;
    color: #242424;
}

.Stockie {
    font-family: 'Notable', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section {
    /*--visibility: 0; !* Default visibility *!*/
    /*opacity: var(--visibility); !* Opacity based on visibility *!*/
    /*transform: translateY(calc((1 - var(--visibility)) * 30px)); !* Moves up/down *!*/
    /*transition:*/
    /*    opacity 0.3s linear,*/
    /*    transform 0.3s linear; !* Smooth animation *!*/
    width: 100%;
    margin-bottom: 5vh;
}
