:root {
    --title: 3rem;
    --header-1: 2rem;
    --header-2: 1.8rem;
    --header-3: 1.5rem;
    --header-4: 1.2rem;
    --caption: 0.8rem;

    /*define colors*/
    /*--blue-dusty: #0B1957;*/
    /*--blue-dusty: #9ECCFA;*/
    /*--blue-deep: #34495e;*/
    /*--blue-deep: #F8F3EA;*/

    --super-dark-blue: #003372;
    --dark-blue: #3f76bf;
    --light-blue: #7baaf8;
    --super-light-blue: #e1f1ff;

    --blue-pale-dark: #2c3e50;
    --blue-pale-light: #c9d6e3;
    /*--blue-pale-light: #E4E9F0;*/

    --info-blue: #4a90e2;
    --info-blue-light: #dceefb;
    --info-blue-dark: #2e415a;

    --red: #d84a3a;
    --red-soft: #e25c4c;
    --red-muted: #b03c33;
    --red-light: #fbe9e7;
    --red-dark: #3e1d1a;

    --yellow: #faaf3f;
    --dark-yellow: #d9a21b;
    --warm-yellow: #e9a944;
    --yellow-muted: #d99e35;
    --yellow-light: #fff4da;

    --green: #4caf50;
    --green-light: #a5d6a7;
    --green-dark: #355f3b;

    --brown: #554e4e;
    --light-brown: #aa9d9b;

    --white: #ffffff;
    --soft-white: #f8f9fa;
    --grey-light-100: #ecf0f1; /* Borders / Cards */
    --grey-light-150: #e1e4e6; /* Borders */
    --grey-light-200: #c4cad0; /* Light muted text */
    --grey-medium: #9a9a9a; /* Medium muted text */
    --grey-dark-100: #25262b; /* Dark surface */
    --grey-dark-200: #2f3136; /* Borders in dark */
    --black: #1a1b1f;
    /*--black: #404756;*/

    --shadow-light: rgba(0, 0, 0, 0.05);
    --shadow-dark: rgba(0, 0, 0, 0.3);

    /*theme*/
    --primary: var(--dark-blue);
    --secondary: var(--light-blue);

    --accent-red: var(--red);
    --accent-green: var(--green);

    /*light-theme*/
    --background: var(--soft-white);
    --surface: var(--white);
    --color-surface: var(--info-blue-light);

    --accent-yellow: var(--yellow);

    --text: var(--black);
    --text-heading: var(--blue-pale-dark);
    --text-muted: var(--grey-medium);
    --text-muted-light: var(--grey-light-200);

    --border-color: var(--grey-light-150);
    --shadow-color: var(--shadow-light);
}

[data-theme='dark'] {
    --primary: var(--dark-blue);
    /*--primary: ;*/
    /*--secondary: var(--dark-blue);*/
    --secondary: var(--super-dark-blue);

    /*--background: var(--black);*/
    --background: #22252b;
    /*--background: #1E2127;*/

    --surface: #2e3138;
    /*--surface: #30343A;*/
    --color-surface: var(--info-blue-dark);

    --accent-yellow: var(--dark-yellow);

    --text: var(--grey-light-100);
    --text-heading: var(--blue-pale-light);
    --text-muted: var(--grey-light-200);
    --text-muted-light: var(--grey-medium);

    --border-color: var(--grey-dark-200);
    --shadow-color: var(--shadow-dark);
}
