.disclaimerContainer {
    display: flex;
    text-align: left;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: 0.8rem;
    background-color: var(--light-red);
    color: var(--red);
}
