.manualCardsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

.manualCard {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: var(--surface);
    border-radius: 10px;
}

.number {
    background-color: var(--dark-blue);
    color: var(--soft-white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    line-height: 1;
    border-radius: 50%;
}

.textWrapper {
    /*padding: 0.5rem;*/
    text-align: left;
}
