.container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    height: 100%;
    /*align-items: flex-start;*/
}

.card {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    justify-content: start;

    background: var(--surface);
    padding: 1.5rem;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: var(--soft-white);
    background-color: var(--dark-blue);
}
