.ArrowFill {
    fill: canvas;
}

.ArrowOuterStroke {
    @media (prefers-color-scheme: light) {
        fill: var(--text);
    }
}

.ArrowInnerStroke {
    @media (prefers-color-scheme: dark) {
        fill: var(--text);
    }
}
