.disclaimerContainer {
    display: flex;
    text-align: left;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: 0.8rem;
    background-color: var(--red-light);
    color: var(--red);
}

.wrapper {
    background-color: var(--surface);
    /*padding: 2rem;*/
    border-radius: 1.5rem;
    padding: clamp(0.5rem, 2rem, 2rem);
}
