.disclaimerContainer {
    display: flex;
    text-align: left;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: 0.8rem;
    background-color: var(--red-light);
    color: var(--red);
}

.infoContainer {
    /*background-color: var(--color-surface);*/
    /*border-radius: 1.5rem;*/
    /*padding: 1rem clamp(0.5rem, 0.5rem, 3rem);*/
}
